<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Bem-vindo à Home Page!</h1>
    <p>Método HTTP: {{ request.method }}</p>
    <p>URL: {{ request.url }}</p>
</body>
</html>