<div class="bg-white w-2/3 rounded-lg shadow-md p-4 sm:w-[85vh] p-2">
    <img src="https://img.freepik.com/fotos-gratis/imagem-de-objetos-de-engenharia-na-visao-superior-do-local-de-trabalho-conceito-de-construcao-ferramentas-de-engenharia-tom-padrao-de-filtro-retroiluminado-foco-suave-foco-seletivo_1418-712.jpg?t=st=1719777701~exp=1719781301~hmac=60dcca1a89a0b8e2aa1fb947682ec5dc1693af6b87881f4c30435964f1ebae17&w=826" alt="[Título do projeto]" class="w-full h-24 object-cover rounded-lg mb-4">
    <h4 class="text-lg font-medium mb-2">[Título do projeto]</h4>
    <p class="text-gray-600 mb-4">[Descrição do projeto]</p>
    <a href="[Link para o projeto]" class="inline-block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Saiba mais</a>
</div>