{% macro card(title, description, img_name, href, blank) %}
<!-- PROJECT CARD MODEL -->
<div>
    <a class="uk-link-toggle" href="{{ href }}" {% if blank %} target="_blank" {% endif %}>
        <div class="uk-card uk-card-default uk-link-text">
            <div class="uk-card-media-top p-2">
                <img class="rounded-lg" src="{{ img_name }}" alt="">
            </div>
            <div class="uk-card-body">
            <h3 class="uk-h3">{{ title }}</h3>
            <hr class="uk-divider-small mt-5">
            <p class="uk-paragraph">{{ description }}</p>
            </div>
        </div>
    </a>
</div>
{% endmacro %}